.ja1{
    margin-top: 3rem;
    justify-content: center;
    font-family: 'YourCustomFont', sans-serif;
    background-color: #D3D3D9ff;
    align-items: center;
    display: flex;
    height: 500px;
}

  
    