.n{
 
  padding: 0px;
 }

.c1{
  
  background-color: #D3D4D8ff;
  text-align: center;
  justify-content: center;
  display: flex;
  font-family: 'YourCustomFont', sans-serif;
  height: 200px;
  padding: 0px;
  margin-top: 0rem;
  padding-top: 2rem;
}
  
.c2{
  margin-top: 0rem;
  padding-top: 6rem;
  background-color: #D3D4D8ff;
  text-align: center;
  justify-content: center;
  display: flex;
  font-family: 'YourCustomFont', sans-serif;
  height: auto;
  width: 100%;
  
 
  
}
.c3{
  
  padding-top: 5rem;
  text-align: center;
  justify-content: center;
  display: flex;
  font-family: 'YourCustomFont', sans-serif;
  height: 400px;
  background-color:  #4355BCff;
 
 
}

.c2 h1 {
  font-size: 48px;
  font-family: 'YourCustomFont', sans-serif;
  padding: 0;
}

.c11{
  
  text-align: center;
  justify-content: right;
}

.btn{
  justify-content: center;
  width: 150px;
  display: flex;
  height: auto;
}