.navbar {
  position: fixed;
  top: 0;
  left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    z-index: 1000; 
    
  }
  .btn{
    margin: 1rem;
  }
 .dropdown-menu{
  margin: 1rem;
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  margin-top: 5px;
 }
.nav-item 
{
  margin: 1rem;
}
.dropdown-item{
  margin: 1rem;
  padding-right: 1rem;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}